body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

.timerDisplay
{
    margin: 0 10px 0 10px;
    min-width: 200px;
}

#timers div 
{
    min-width: 75px;
    border-color: #000;
    border-width: 4;
    cursor: text;
}

.startbutton
{
 
}

.timeandbutton
{
    width: 300px;
    margin: 0 0 0 40px;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

input[type=Time]
{
	text-align: right;
	font-size: 20px;
}

.label
{
	font-size: 40px !important;
    display: block;
    min-width: 100px;
	max-width: 200px;
	vertical-align: top;
    margin: 0 2% 0 0;
    line-height: 1.4;
}

.ui-field-contain input.ui-input-text
{
	min-width: 50px;
	max-width: 200px;
	display: inline;
}

.ui-field-contain label.ui-input-text
{
	min-width: 50px;
	max-width: 100px;
}

.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

/** CSS for non-standard jQuery Mobile styles or Codiqa components **/
.split-wrapper {
  width: 100%;
  min-height: 200px;
  clear: both;
}
@media all and (min-width: 650px) {
	.content-secondary {
		text-align: left;
		float: left;
		width: 45%;
		background: none;
		padding: 1.5em 6% 3em 0;
		margin: 0;
	}
	.content-secondary {
    background: none;
    border-top: none;
	}
	.content-primary {
		width: 45%;
		float: right;
		margin-right: 1%;
		padding-right: 1%;
	}
	.content-primary ul:first-child {
		margin-top: 0;
	}
  .content-secondary ul.ui-listview, .content-secondary ul.ui-listview-inset {
    margin: 0;
  }
  .content-secondary ul.ui-listview .ui-li-divider, .content-secondary ul.ui-listview .ui-li {
    border-radius: 0px;
  }
  .content-secondary ul.ui-listview .ui-li {
    border-left: 0;
    border-right: 0;
  }
	.content-secondary h2 {
		position: absolute;
		left: -9999px;
	}
	.content-secondary .ui-li-divider {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.content-secondary {
		margin: 0;
		padding: 0;
	}
  .label 
  {
      display: inline-block;
      width: 20%;    
  }
}
@media all and (min-width: 750px){
	.content-secondary {
		width: 34%;
	}
	.content-primary {
		width: 60%;
		padding-right: 1%;
	}	
  .content-secondary ul.ui-listview-inset {
}

@media all and (min-width: 1200px){
	.content-secondary {
		width: 30%;
		padding-right:6%;
		margin: 0px 0 20px 5%;
	}
	.content-secondary ul {
    margin: 0;
  }
	.content-secondary {
		margin: 0;
		padding: 0;
	}
	.content-primary {
		width: 50%;
		margin-right: 5%;
		padding-right: 3%;
	}
	.content-primary {
		width: 60%;
	}
}

