@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>BABYTI.ME</title>
    </head>
    <body>
        <header>BABYTI.ME</header>
        <nav><a href="/">Home</a> | <a href="/about">About</a></nav>
        <hr />
        <div>
            <form method="POST" action="">
                <input type="submit" name="diaperButton" id="diaperButton" value="Diaper">
                <input type="text" name="diaperTimer" id="diaperTimerTextBox"/>
            </form>
        </div>
    </body>
</html>