@model object

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>BABYTI.ME</title>
    </head>
    <body>
        <header>BABYTI.ME</header>
        <nav><a href="/">Home</a> | <a href="/about">About</a></nav>
        <hr />
        <div id="timers">
            <form method="POST" action="" id="diaperTimer">
                <button name="diaperButton" id="diaperButton" >Diaper</button>
                <input type="text" name="diaperTimerTextBox" id="diaperTimerTextBox" value="" data-fromTime="06/24/2012 09:01:23 PM">
                <span class="alert"></span>
            </form>
            <form method="POST" action="" id="foodTimer">
                <button name="foodButton" id="foodButton">Food</button>
                <input type="text" name="foodTimerTextBox" id="foodTimerTextBox" value="" data-fromTime="06/24/2012 09:11:16 PM">
                <span class="alert"></span>
            </form>
            <form method="POST" action="" id="sleepTimer">
                <button name="sleepButton" id="sleepButton">Sleep</button>
                <input type="text" name="sleepTimerTextBox" id="sleepTimerTextBox" value="" data-fromTime="06/24/2012 09:20:45 PM">
                <span class="alert"></span>
            </form>
            <form method="POST" action="" id="otherTimer">
                <button name="otherButton" id="otherButton">Other</button>
                <input type="text" name="otherTimerTextBox" id="otherTimerTextBox" value="" data-fromTime="06/24/2012 09:17:11 PM">
                <span class="alert"></span>
            </form>
            <button id="clearAllTimers">Clear All</button>
        </div>
    </body>
</html>