@model object

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>BABYTI.ME</title>
    </head>
    <body>
        <header>BABYTI.ME</header>
        <nav><a href="/">Home</a> | <a href="/about">About</a></nav>
        <hr />
        <div id="timers">
            <button id="clearAllTimers">Clear</button>
        </div>
    </body>
</html>