@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>BABYTI.ME</title>
    </head>
    <body>
        <header>BABYTI.ME</header>
        <nav><a href="/">Home</a> | <a href="/about">About</a></nav>
        <hr />
        <div id="">
            <form method="POST" action="" id="diaperTimer">
                <input type="submit" name="diaperButton" id="diaperButton" value="Diaper">
                <input type="text" name="diaperTimer" id="diaperTimerTextBox" value="00:00:02">
                <span class="alert">Saved</span>
            </form>
        </div>
    </body>
</html>