@model object

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>BABYTI.ME</title>
    </head>
    <body>
        <header>BABYTI.ME</header>
        <nav><a href="/">Home</a> | <a href="/about">About</a></nav>
        <hr />
        <div id="timers">
            <form method="POST" action="/new" id="diaperTimer">
                <input type="submit" name="diaperButton" id="diaperButton" value="Diaper">
                <input type="text" name="diaperTimerTextBox" id="diaperTimerTextBox" value="" data-fromTime="06/24/2012 09:01:23 PM">
                <span class="alert"></span>
            </form>
            <form method="POST" action="/new" id="foodTimer">
                <input type="submit" name="foodButton" id="foodButton" value="Food">
                <input type="text" name="foodTimerTextBox" id="foodTimerTextBox" value="" data-fromTime="06/24/2012 09:11:16 PM">
                <span class="alert"></span>
            </form>
            <form method="POST" action="/new" id="sleepTimer">
                <input type="submit" name="sleepButton" id="sleepButton" value="Sleep">
                <input type="text" name="sleepTimerTextBox" id="sleepTimerTextBox" value="" data-fromTime="06/24/2012 09:20:45 PM">
                <span class="alert"></span>
            </form>
            <form method="POST" action="/new" id="otherTimer">
                <input type="submit" name="otherButton" id="otherButton" value="Other">
                <input type="text" name="otherTimerTextBox" id="otherTimerTextBox" value="" data-fromTime="06/24/2012 09:17:11 PM">
                <span class="alert"></span>
            </form>
        </div>
    </body>
</html>