@model object

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            <a id="clearAllTimers" data-role="button" data-inline="false" data-transition="flow" data-theme="e" href="" data-icon="refresh" data-iconpos="left">Clear</a>
